
.support .sectionContainer .titlesDiv {
    text-align: center;
  }
  .support .sectionContainer .titlesDiv small {
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    font-size: 13px;
    color: var(--blackColor);
    line-height: 1.5rem;
  }
  .support .sectionContainer .infoDiv {
    margin-top: 2rem;
    gap: 1.5rem;
  }
  .support .sectionContainer .infoDiv .textDiv {
    gap: 1.5rem;
  }
  .support .sectionContainer .infoDiv .textDiv .singleInfo .number {
    background: var(--PrimaryColor);
    padding: 5px 12px;
    width: 40px;
    border-radius: 3rem;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    color: var(--WhiteColor);
  }
  .support .sectionContainer .infoDiv .textDiv .singleInfo .colorOne {
    background-color: var(--ColorOne);
  }
  .support .sectionContainer .infoDiv .textDiv .singleInfo .colorTwo {
    background-color: var(--ColorTwo);
  }
  .support .sectionContainer .infoDiv .imgDiv {
    margin: auto;
  }
  .support .sectionContainer .infoDiv .imgDiv img {
    width: 100%;
    max-width: 420px;
  }